.headings {
    color: #4576e9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #c4d4fa 5px 5px 10px;
}

.textArea, .dropdown{
    display: flex;
    width: 95%;
    min-height: 2.5em;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #e5edff;
    padding: 3%;
    margin-bottom: 3%;
    box-shadow: rgb(184, 184, 184) 5px 5px 10px;
}

.radioButtonsForm {
    padding: 3%;
}

.submitButton:disabled {
    background-color: grey;
    cursor: auto;
}

.submitButton:disabled:hover {
    background-color: grey;
}

.submitButton {
    margin: auto;
    display: block;
    margin-top: 7rem;
    width: 10rem;
    min-height: 3em;
    background-color: #4576e9;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgb(184, 184, 184) 5px 5px 10px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #5780e0;
}