.outline {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: ghostwhite;
    width: 35%;
    min-width: 15em;
    height: 37em;
    min-height: 25em;
    margin: auto;
    border-radius: 18px;
    padding: 15px;
    box-shadow: grey 5px 5px 5px 2px;
}



